html{-webkit-text-size-adjust:none;}
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none;} em,i{ font-style:normal;}



/*common*/
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

  a{ color:#5d5d5e; }
  a:hover{ color:#3e6ed4;}
 
body{ background: #fff;}

.css3{
	/*transition: all 0.3s ease-in-out 0s;*/
	
	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
@media screen and (max-width: 650px) {    
  
  }
  
  @media screen and (max-width: 480px) {   
	 
  }

.mgt20{
	margin-top: 20px;
}
.mgt10{
	margin-top: 10px;
}
.mgt5{
	margin-top: 5px;
}
.mgb20{
	margin-bottom: 20px;
}
.gray{
	color: #ccc;
}
.darkgray{
	color: #e2e2e2;
}

.button{
	    background-color: #fff;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(66,66,77,.1);
    background-image: url(../imgs/bg_blended_light.png);
    padding: 4px 8px;
    border: 1px solid rgba(80,80,90,.2);
    border-bottom-color: rgba(80,80,90,.35);
    border-radius: 3px;
    font-size: 14px;
    outline: 0;
    display: inline-block; line-height: 1.5; text-align: center;
}
.button-full{
	width: 100%;
}
.button:hover{
	background-color: #fafafa;
	color: #402112;
}
.breadcrumbs,
.breadcrumbs a{
	color: #000; font-size: 15px;
}
.breadcrumbs li{
	display: inline; margin-right: 5px;
}

img.avatar{
	border-radius: 4px;
}
video{
	background: #000;
}
